.DS_Store
.idea/
.git/
_mac/
codestyles/
__pycache__/
app/creds.py
logs/
colors.scheme.xml
debugger.xml
editor.codeinsight.xml
filetypes.xml
find.xml
github.xml
ide.general.xml
jdk.table.xml
markdown.xml
project.default.xml
ui.lnf.xml
updates.xml
vcs.xml
messages.pot
